.primary-color {
  background-color: #c0e6fc;
}
.primary-text {
  color: #333333;
}
.main-color {
  background-color: #eaeaea;
}
.article-color {
  background-color: #ffffff;
}
.footer-color {
  background-color: #202020;
}
